html {
    box-sizing: border-box;
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    /* Neutral */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    font-size: 16px;
    font-family: "Red Hat Display";
}

*::after,
*::before,
* {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    padding: 1rem;
    height: 100vh;
}

@media screen and (min-width: 768px) {
    body{
        background-image: url('./images/pattern-background-desktop.svg');
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a:hover{
        cursor: pointer;
    }
}



.card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 1rem var(--desaturated-blue);
}

@media screen and (min-width: 768px) {
    .card{
        max-width: 375px;
    }
}

.hero-image {
    border-radius: 1rem 1rem 0 0;
}



.order-summary {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
}

.order-summary-title {
    margin-top: 1rem;
    font-weight: 800;
    margin-bottom: .5rem;
    color: var(--dark-blue);
}

.order-summary-text {
    text-align: center;
    color: var(--desaturated-blue);
    line-height: 1.8;
    padding: 0 2rem;
    margin: .5rem 0 1.5rem;

}

.order-plan {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    /* Row and nowrap by default */

    background-color: var(--customize-color);
    color: var(--desaturated-blue);
    border-radius: .5rem;
    margin-bottom: 1.7rem;

}

.data-price {
    text-align: center;
}

.data-price-title {
    font-size: 1.2rem;
    margin: 0;
    color: var(--dark-blue);
}

.data-price--price{
    margin: 0;
}


.change-plan-link {
    color: var(--bright-blue);
    font-weight: bold;
    text-decoration: underline;

}

@media screen and (min-width: 768px) {
    .change-plan-link:hover{
        text-decoration: none;
    }   
}

.pay-cancel {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.pay-cancel-title,
.pay-cancel-subtitle {
    display: block;
    width: 90%;
    padding: 1rem;
    border-radius: .6rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: .5rem;

}

.pay-cancel-title {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
}

@media screen and (min-width: 768px) {
    .pay-cancel-title:hover{
        opacity: .80;
    }
}

.pay-cancel-subtitle {
    color: var(--desaturated-blue);
    margin-top: .8rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .pay-cancel-subtitle:hover{
        color: #000;
    }
}
